<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <script th:src="@{/static/js/jquery.js}"></script>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script>
        layui.use(['form','laydate'], function () {
            var form = layui.form
            laydate = layui.laydate;

            laydate.render({
                elem: '#overTimeDate'
            });
        });
    </script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>加班申请</legend>
</fieldset>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名:</label>
        <div class="layui-input-inline">
            <input type="text" name="" lay-verify="required" disabled="disabled" class="layui-input" th:value="${session.account.oa_staff_name}">
        </div>
        <label class="layui-form-label">工作岗位:</label>
        <div class="layui-input-inline">
            <input type="text" name="" lay-verify="required" disabled="disabled" class="layui-input" th:value="${session.account.oa_post_name}">
        </div>
        <label class="layui-form-label">所属部门:</label>
        <div class="layui-input-inline">
            <input type="text" name="" lay-verify="required" disabled="disabled" class="layui-input" th:value="${session.account.oa_department_name}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">加班日期</label>
        <div class="layui-input-inline">
            <input type="text" name="overTimeDate" id="overTimeDate" autocomplete="off" class="layui-input" placeholder="yyyy-MM-dd">
        </div>
        <label class="layui-form-label">加班时间</label>
        <div class="layui-input-inline">
            <select name="overTime" lay-verify="required" >
                <option value="0"></option>
                <option value="0.5">0.5</option>
                <option value="1">1</option>
                <option value="1.5">1.5</option>
                <option value="2">2</option>
                <option value="2.5">2.5</option>
                <option value="3">3</option>
                <option value="3.5">3.5</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">(单位:小时)</div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">加班原因</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit>立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>加班记录</legend>
</fieldset>
</body>
</html>