<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <script th:src="@{/static/js/jquery.js}"></script>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script>
        var form;
        var layer;
        var deptId;
        var deptName;
        layui.use(['form', 'layer'], function () {
            form = layui.form;
            layer = layui.layer;

            form.on('select(deptS)', function (data) {
                //部门选择改变事件
                if (data.value != 0)
                    $('#updDeptName').removeAttr("disabled");
                deptId = data.value;
                deptName = $('select[name=dept]').find('option:selected').text();
                $.ajax({
                    url:"/dept/allPostByDeptId",
                    type:"post",
                    data:{"id":deptId},
                    success:function (data) {
                        reloadPost(data);
                    }
                });
            });
        });

        $(function () {
            $('#updDeptName').click(function () {
                layer.confirm('<input type="text" class="layui-input" id="newDeptName" value="' + deptName + '"/><input type="hidden" id="deptId" value="' + deptId + '"/>', {
                    btn: ['保存', '取消'],
                    title: "修改部门名称"
                }, function (index) {
                    $.ajax({
                        url: "/dept/updDeptName",
                        type: "post",
                        data: {"deptId": $('#deptId').val(), "newDeptName": $('#newDeptName').val()},
                        success: function (data) {
                            reloadDept(data);
                        }
                    })
                });
            });

            $('#addNewDept').click(function () {
                //新增部门弹出层
                layer.confirm('<input type="text" class="layui-input" id="addDeptName"/>', {
                    btn: ['添加', '取消'],
                    title: "新增部门名称"
                }, function (index) {
                    var addDeptName = $('#addDeptName').val().trim();
                    if(addDeptName != null && addDeptName != "" && addDeptName.length > 0){
                        $.ajax({
                            url:"/dept/addNewDept",
                            type:"post",
                            data:{"addDeptName":addDeptName},
                            success:function (data) {
                                reloadDept(data);
                            }
                        });
                    }
                });
            });

        });

        function reloadDept(data) {
            //重新加载选择部门的下拉框
            var json = JSON.parse(data);
            $('select[name=dept]').html();
            var deptHtml = '';
            $.each(json, function (i, d) {
                deptHtml += '<option value="' + d.oa_department_id + '">' + d.oa_department_name + '</option>';
            });
            $('select[name=dept]').html(deptHtml);
            $('select[name=dept]').val(deptId);
            deptName = $('select[name=dept]').find('option:selected').text();
            form.render();
            layer.closeAll();
        }

        function reloadPost(data) {
            //重新加载选择岗位的下拉框
            var json = JSON.parse(data);
            $('select[name=post]').html();
            var deptHtml = '';
            $.each(json, function (i, d) {
                deptHtml += '<option value="' + d.oa_post_id + '">' + d.oa_post_name + '</option>';
            });
            $('select[name=post]').html(deptHtml);
            $('select[name=post]').val(deptId);
            deptName = $('select[name=dept]').find('option:selected').text();
            form.render();
            layer.closeAll();
        }
    </script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>部门 & 工作岗位</legend>
</fieldset>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">所属部门</label>
        <div class="layui-input-inline">
            <select lay-filter="deptS" name="dept" lay-verify="required">
                <option value="0"></option>
                <option th:each="d:${deptList}" th:value="${d.oa_department_id}"
                        th:text="${d.oa_department_name}"></option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">
            <input th:type="button" class="layui-btn layui-btn-normal layui-btn-xs" disabled="disabled" id="updDeptName"
                   value="修改部门名称"/>
        </div>
        <div class="layui-form-mid layui-word-aux">
            <input th:type="button" class="layui-btn layui-btn-normal layui-btn-xs" id="addNewDept"
                   value="新增部门"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">工作岗位</label>
        <div class="layui-input-inline">
            <select name="post" lay-verify="required">
                <option value="0"></option>
                <!--<option th:each="d:${deptList}" th:value="${d.oa_department_id}"-->
                        <!--th:text="${d.oa_department_name}"></option>-->
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">
            <input th:type="button" class="layui-btn layui-btn-normal layui-btn-xs" disabled="disabled" id="updPostName"
                   value="修改岗位名称"/>
        </div>
        <div class="layui-form-mid layui-word-aux">
            <input th:type="button" class="layui-btn layui-btn-normal layui-btn-xs" id="addNewPost"
                   value="新增岗位"/>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>员工状态</legend>
    </fieldset>
</form>
</body>
</html>