<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"/>
    <link href="/static/login/css/style.css" rel='stylesheet' type='text/css'/>
    <script src="/static/js/jquery.js"></script>

</head>
<body>

<!--SIGN UP-->
<h1>OA登录</h1>
<div class="login-form">
    <div class="close"></div>
    <div class="head-info">
        <label class="lbl-1"> </label>
        <label class="lbl-2"> </label>
        <label class="lbl-3"> </label>
    </div>
    <div class="clear"></div>
    <div class="avtar">
        <img src="/static/login/images/avtar.png"/>
    </div>
    <form id="loginForm" action="/login/logincheck" method="post">
        <input type="text" class="text" value="Username" name="account" onfocus="this.value = '';"
               onblur="if (this.value == '') {this.value = 'Username';}">
        <div class="key">
            <input type="password" value="Password" name="password" onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Password';}">
        </div>
    <div class="signin">
        <input type="submit" value="登录" id="loginBtn">
    </div>
    </form>
</div>
<div class="copy-rights">
</div>

</body>
</html>